.h_sds-result-nav {
  background-color: var(--adm-color-primary);
  color: #fff;

  .adm-nav-bar-back-arrow {
    font-size: 1rem;
  }

  .adm-nav-bar-title {
    font-size: 1rem;
  }
}

.h_sds-result-notice {
  display: none;
}
